@using COMP2007_S2016_Lesson10C.Models
@model IEnumerable<Album>
@*
    Author: Robert Page 200281838
    Website: http://robcomp2007assignment2.azurewebsites.net/
    Description: this file shows the list of mood to the user
*@
@{
    ViewBag.Title = "Index";

}
<h1>Menu</h1>

<ul>

    @foreach (Album album in Model)
    {

        <li>
            <h2>@album.Genre.Name</h2>
            <a href="@Url.Action("Details","Menu",  new { id = album.AlbumId })"> <img src="@album.AlbumThumbUrl" alt="@album.Title" /> <br /> @album.Title</a>
        </li>
    }

</ul>







